
/* bg-img */
.bg-1 {
    background-image: url("../assets/images/bg.jpg");
  }

.bg-2{
    background-image: url("../assets/images/Imagen-Acerca-de-Bits .jpg");
    background-position: center;
}

/* inputs del login */
input:invalid {
    border:
        1px solid red;
}

input:valid {
    border:
        1px solid #FF009C;
}

/* imagen del about para darle un top custom */
.barrier{
    top: 360px;

}